repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: requirements-txt-fixer
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12.7
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: requirements
        name: requirements
        entry: cmd /c 'pip freeze > requirements.txt; git add requirements.txt'
        language: system
        pass_filenames: false
        stages: [pre-commit]
  # - repo: https://github.com/pycqa/isort
  #   rev: 6.0.1
  # #   hooks:
  # #     - id: isort
  # # - repo: https://github.com/pre-commit/mirrors-autopep8
  # #   rev: "v2.0.4"
  # #   hooks:
  # #     - id: autopep8
